.general {
    background-color: var(--menu-color);
    position: fixed;
    top: 50px;
    height: calc(100vh - 50px);
    width: calc(100vw - 200px);
    transition: all 0.3s ease;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: var(--font);
    font-size: 14px;
    color: var(--text-color);
}

.general p {
    padding-top: 3px;
}

#clickable {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.empty_space {
    padding: 0;
    margin: 0;
    width: 1px;
    height: 2px;
    justify-self: right;
}